*{
  box-sizing: border-box;}

body{margin:0px;
  font-family:
'Marvel', sans-serif;
width:1100px;
height:1600px;
}




ul.list-of-prices {
  background: #fa6938;
  margin:0px;
  padding-left:95px;
  color:white;
padding-top:14px;}

#freeshipping{
  background-color: #C7522B;}

ul.list-of-prices > li {
list-style:none;
display:inline;
margin:5px;
font-size:12px;
font-weight:normal;}

.skinny-logo{height:40px;}

#cart-bar{float:right;}
#search-bar{float:right;}

#cart {
  background: url('./hard-mode/assets/sprite@2x.png') no-repeat -90px -32px;
  	width: 28px;
    padding-left:29px;
  	height: 19px;

}

#mag-glass {
	background: url('./hard-mode/assets/sprite@2x.png') no-repeat -30px -30px;
	width: 26px;
  padding-left:26px;
	height: 26px;
}

ul.menu {
  height:90px;
  margin-top:0px;
  margin-bottom:0px;
  margin-left:85px;}

.shifting-menu{text-align:center;
height: 30px;
width:40px;}

.menu-options{
}

ul.menu > li {
  list-style:none;
  display:inline;
  text-align: center;
  margin-left:13.5px;
  font-size:20px;
}


ul.menu > li > img{height:90px;}

#perf{
    background-image: url(./hard-mode/assets/perforated-bottom@2x.png);
    background-repeat: repeat-x;
    height:8px;}
#perf > img {visibility: hidden;}


.tie-variations {
  text-align: center;
  list-style:none;
  background-color:#f9f8f6;
  height: 310px;
  margin:0px;

}
.lil-tie{
display:inline;}

.lil-tie > img {height:50%;
width:60px;
margin:8px;
}

.start-dressing-better {
  text-align: center;
      font-size: 60px;
      padding-top: 20px;}

.three-bottom-boxes{
  text-align: center;
}

.family-owned{font-size: 40px;
  text-align: center;
  margin-top: 100px;}

.family-owned > p {
  margin:0px;
}

#story {
  margin:5px;
  color:#009CFF;
  font-size:18px;
}

#cross-hash > img {height:6px;
width:6px;
}

#cross-hash{
    background-image: url(./hard-mode/assets/hatch-light@2x.png);
    background-size:6px;
    background-repeat: repeat-x;}



.three{
  display:inline;
margin:8px;}

.three img {
  width:290px;}

.second-bar{margin-left:40px;
  height:400px;
}

.second-bar > h4 {
float:left;
  /*float:left;*/
  margin-left:30px;
  width:200px;
  font-weight: bolder;
  }

#social{list-style: none;
margin:5px;
padding:0px;}


#social > li {
  margin:3px;
  float:left;

}

#facebook {
  	background: url('file:///Users/snehelpatel/IronYardWork/weekend1/hard-mode/assets/sprite@2x.png') no-repeat -540px 0;
  	width: 73px;
	   height: 73px;
     zoom:.5;

  }
  #pinterest
{
	background: url('file:///Users/snehelpatel/IronYardWork/weekend1/hard-mode/assets/sprite@2x.png') no-repeat -540px -80px;
	width: 73px;
	height: 73px;
   zoom:.5;
}
#twitter
{
	background: url('file:///Users/snehelpatel/IronYardWork/weekend1/hard-mode/assets/sprite@2x.png') no-repeat -540px -160px;
	width: 73px;
	height: 73px;
   zoom:.5;
}

.bottom-content > img {
  height:150px;
  width: auto;
  margin:15px;


}

.bottom-content{
font-size:13px;
line-height: 20px;
}
#last-container {
  background-color:#F9F8F6;
  height:400px;
}

#perf2{
    background-image: url(./hard-mode/assets/perforated-bottom@2x.png);
    background-repeat: repeat-x;
    height:8px;}
#perf2 > img {visibility: hidden;}

.sub{
  float:left;
  margin:12px;
}

#sub-info:first-child{margin-top:5px;}

#sub-info{color:lightgray;}

.one{
  list-style: none;
}

.two{
  float:right;
  list-style: none;
  position:relative;
  width:280px;
  height:109px;
  padding:10px;
  background-color:#A0A1CE;
  color:white;
  border:3px solid #8998AD;

}

#here-for-you{
  font-size:25px;
  margin-bottom:10px;
}

#here-for-right{
  font-size:20px;
  position:absolute;
  top:30px;
  right:0px;

}

#here-for-left > p{
  margin:0px;
}
