*{
  box-sizing: border-box;}

body{margin:0px;
  font-family:
'Signika Negative', sans-serif;
width:1100px;
}

ul > li {}


ul.list-of-prices {
  background: #fa6938;
  margin:0px;
  padding-left:95px;
  color:white;
padding-top:12px;}

#freeshipping{
  background-color: #C7522B;}

ul.list-of-prices > li {
list-style:none;
display:inline;
margin:5px;
font-size:12px;
font-weight:normal;}

.skinny-logo{height:40px;}

ul.menu {height:100px;
padding-left:10px;
margin-top:0px;
margin-bottom:0px;
}

ul.menu > li {
list-style:none;
display:inline;
margin-left:13.5px;
font-size:20px;
}

#shifting-menu{text-align:center;}

ul.menu > li > img{height:100px;}

.tie-variations {
  text-align: center;
  list-style:none;
}
.lil-tie{
display:inline;}

.lil-tie > img {height:50%;
width:60px;
margin:8px;
}


/*#wrap {
    overflow: hidden;
    position: relative;
    float: left;
}

#wrap img.fake {
    float: left;
    visibility: hidden;
    width: auto;
}

#img_wrap {
    position: absolute;
}

#img_wrap img.normal {
    width: 30%;
}​*/
